.banner-component {

	display: grid;
	align-items: center;

	min-height: 20rem;
	background: #213681;

	margin-bottom: 1rem;

	color: #fff;

	position: relative;

	h1 {
		display: flex;
		align-items: center;	
		justify-content: center;
		margin-bottom: .5rem;
		font-size: 4em;
		color: inherit;

		.ui-ico {
			width: 3rem;
			height: 2rem;
			margin-left: 1rem;
		}
	}

	a {
		color: #fff;
		text-decoration: underline;
	}

}

.banner__content {
	position: relative;
	z-index: 2; //above cover
}

.banner__meta {
	display: flex;
	justify-content: center;

	li {
        &:not(:last-child) {
            &:after {
                content: '⋅';
                display: inline-block;
                margin: 0 1rem;           
            }
        }		
	}

}

.banner__nav {
	position: absolute;
	width: 100%;

	display: flex;
	justify-content: space-between;

	padding: 0 1rem;

	
	.nav__item {
		&.item--prev {
			transform: rotate(-180deg);
		}
		&.item--disabled {
			opacity: .25;
		}		
	}

	img {
		height: 3rem;
	}
}

.banner--competition {

}