.breadcrumbs-component {
    margin-bottom: 1rem;
}
.breadcrumbs__list {
    li {

        display: inline-block;
        font-size: .875em;
        
        a {
            display: inline-block;
            color: #999;
            &:after {
                display: none;
            }
        }
 
        &:not(:last-child) {
            &:after {
                content: '⋅';
                display: inline-block;
                margin: 0 .5rem;           
            }
        }

        &.item--start {
            margin-right: .5rem;
            &:after {
                display: none;
            }
        }

        &:last-child {
            a {
                pointer-events: none;
                &:after {
                    display: none;
                }
            }
        }
 
 
    }
}
