.breadcrumbs-component {
    margin-bottom: 1rem;
}
.breadcrumbs__list {
    li {

        display: inline-block;
        font-size: .75em;
        color: #adadad;
        
        a {
            display: inline-block;
            color: #adadad;
            text-decoration: underline;
            &:after {
                display: none;
            }

            @media(hover: hover) {
                &:hover {
                    color: #272727;
                }
            }
        }
 
        &:not(:last-child) {
            &:after {
                content: '⋅';
                display: inline-block;
                margin: 0 .5rem;           
            }
        }

        &.item--start {
            margin-right: .5rem;
            &:after {
                display: none;

            }
        }

        &:last-child {
            a {
                pointer-events: none;
                text-decoration: none;
                &:after {
                    display: none;
                }
            }
        }
 
 
    }
}
