%cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;	
}

.cover {

    overflow: hidden;

    @extend %cover;

    img,
    video {
        @extend %cover;
        object-fit: cover;
    }

    &.cover--overlay {
        &:after {
            content: '';
            display: block;
            @extend %cover;
            background: rgba(33, 54, 129, .75);
        }


    }

}
