.standings-component {
	.standings__table {

		min-width: 60rem;


		tbody {
			tr {
				&:nth-child(even) {
					background: #f0f0f0;
				}
			}
		}

		img {
			width: 1.5rem;
			height: 1rem;
		}

	}
}