.standings-component {

	.standings__title {
		text-align: center;
		margin-bottom: .5rem;
		//font-size: 1.375em;
	}

	.standings__ui {		
		margin: 1rem 0;
		select {

			margin: 0 auto;
			font-size: .875em;
		}
	}
	.standings__table {

		min-width: 40rem;
		margin-left: auto;
		margin-right: auto;

		td {

			&.position {
				display: flex;
				align-items: center;		
			}

			&.position,
			&.bib {
				max-width: 5rem;
			}

			&.name {
				min-width: 15rem;
			}
			&.result {
				min-width: 5rem;
			}

		}

		.standings__leader {
			color: #be0808;
			a {
				color: #be0808;
			}
		}



	}

	.position__value {
		min-width: 1.5rem;
	}
	.position__trend {
		display: block;
		margin-left: .5rem;

		&.trend--positive {

			width: 0; 
			height: 0; 
			border-left: .375rem solid transparent;
			border-right: .375rem solid transparent;

			border-bottom: .375rem solid green;

		}

		&.trend--negative {
			width: 0; 
			height: 0; 
			border-left: .375rem solid transparent;
			border-right: .375rem solid transparent;

			border-top: .375rem solid red;			
		}

	}
}