.stats-component {

	max-width: 40rem;
	margin: 0 auto 2rem;

	

	dl {
		border-top: 1px solid silver;
	}

	dt,
	dd {
		padding: .5rem;
		border-left: 1px solid silver;
		border-bottom: 1px solid silver;
	}

	dt {
		width: 50%;
	}

	dt,
	dd {
		border-right: 1px solid silver;
	}

}