.ui-tabs {
    display: grid;
}
.tabs__nav {

    display: inline-flex;
    border: 1px solid silver;
    border-radius: 2rem;
    margin: 1rem auto 2rem;
    overflow: hidden;

    //design
    .nav__list {
        display: flex;
        justify-content: center;
        .list__item {
            border-right: 1px solid silver;

            a {
                display: block;
                padding: 1rem 2rem;
                font-size: .875em;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: .05em;
                color: #272727;
            }

            &:first-child {
                a {
                    padding-left: 2.5rem;
                }
            }
            &:last-child {
                border: 0;
                a {
                    padding-right: 2.5rem;
                }
            }
        }
    } 

    //interaction
    .item--tab {
        &.tab--open {
            background: #f0f0f0;
            a {
                //text-decoration: underline;
            }
        }
    }

    @media all and (max-width: $breakpoint_mobile) {
        display: none;
    }
}

.tab__title {
    display: none;
}



.tabs__contents {
    .item--tab {
        &:not(.tab--open) {
            .tab__content {
                display: none;
            }
        }
    }
}
