.tabs__nav {
    .item--tab {
        &.tab--open {
            a {
                text-decoration: underline;
            }
        }
    }

    @media all and (max-width: $breakpoint_mobile) {
        display: none;
    }
}

.tab__title {
    display: none;
}

.tabs__nav {
    .nav__list {
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        .list__item {
            margin: 0 .5rem;
        }
    }    
}


.tabs__contents {
    .item--tab {
        &:not(.tab--open) {
            .tab__content {
                display: none;
            }
        }
    }
}
