//default style of generic html elements

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    overflow-x: hidden;
}


a {
    text-decoration: none;

    @media (hover: hover) {
        &:hover {
            text-decoration: underline;
        }
    }
}


ul {
    list-style-type: none
}


img {
    width: 100%;
    vertical-align: bottom;
}


address {
    font-style: normal;
}

button {
    cursor: pointer;
    background: transparent;
}


table {
    
    border-collapse: collapse;
    margin: 0 auto 2rem;

    thead {
        th {
            font-weight: 400;
            font-size: .875em;
            color: #adadad;
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background: #f0f0f0;
            }
            @media (hover: hover) {

                transition: background .2s ease-in-out;

                &:hover {
                    background: #f2d6a4;
                }
            }
        }
    }    

    th,
    td {
        padding: .5rem;
    }
    tr {
        border: 1px solid silver;
    }
}